/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .mediaQ {
        flex-direction: column;
        width: 100%;
    }
    .navbar-form {
        flex-direction: column;
        width: 100%;
    }
    .navbar-brand {
        flex-direction: column;
        width: 100%;
    }
    .image{
        flex-direction: column;
        width: 50%;
    }
    #continer33{

        flex-direction: column;
        width: 50%;
    }
    .jojo{
        flex-direction: column;
        width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .mediaQ {
        flex-direction: column;
        width: 100%;
    }
    .navbar-form {
        float: none;
        width: 25%;
    }
    .navbar-brand {
        width: 15%;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .mediaQ {
        flex-direction: column;
        width: 100%;
    }
    .navbar-form {
        float: none;
        width: 25%;
    }
    .navbar-brand {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .mediaQ {
        flex-direction: column;
        width: 100%;
    }
    .navbar-form {
        float: none;
        width: 25%;
    }
    .navbar-brand {
        width: 100%;
    }
}


body{
    background-image: url("../images/concert.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    display: flex;
    background-color: black;
    font-size: 26px;
    font-family: "Misproject"; 
}
.container {
    flex: 1;
}
#submitButton {
    position: relative;
    left: -60px;
    top: -28.5px;
}
#input1 {
    position: relative;
    left: 60px;
    top: 29px;
    font-size: 16px;
}
.navbar-brand {
    color: goldenrod;
    font-size: 40px;
}
.p1 {
    text-shadow: 15px 20px midnightblue; 
    position: relative;
    top: -20px;
    font-family: 'Aldrich', sans-serif;
}
#container33 {
    display: flex;
}
.jojo {
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center
    
}
img {
    width: 700px;
    align-items: center;
    opacity: 0.5;

}
#submitButton{
background-color: darkgoldenrod;
font-family: 'Rock Salt', cursive;

}

input[type=text] {
background-color: midnightblue;
font-family: 'Roboto';
} 